<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-print-css/css/bootstrap-print.min.css" media="print">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MathGen2</title>
</head>
<body>
<div class="container-fluid">
  <h1>Matek feladat gyártó</h1>
  <h2>Egész osztás: A : B = C</h2>
  <form action="osztas" method="POST">
      <div class="row align-items-center text-center">
          <div class="col-1">
              B:
          </div>
          <div class="col-1">
             <input type="number" class="form-control" id="b_min" name="b_min" value="1">
          </div>
          <div class="col-1">-</div>
          <div class="col-1">
              <input type="number" class="form-control" id="b_max" name="b_max" value="10">
          </div>
      </div>
      <div class="row align-items-center text-center">
          <div class="col-1">
              C:
          </div>
          <div class="col-1">
             <input type="number" class="form-control" id="c_min" name="c_min" value="1">
          </div>
          <div class="col-1">-</div>
          <div class="col-1">
              <input type="number" class="form-control" id="c_max" name="c_max" value="10">
          </div>
      </div>
      <div class="row align-items-center text-center">
          <div class="col-1">
              darab
          </div>
          <div class="col-1">
              <input type="number" class="form-control" id="count" name="count" value="55">
          </div>
      </div>
      <button type="submit" class="btn btn-primary">Start</button>
  </form>
</div>
</body>
</html>